.react_player {
  position: relative;
  width: 640px;
  height: 480px;
}
.bottom_container {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
.bottom_container.outside {
  bottom: -50px;
}