.RP-Controls {
  position: relative;
  height: 24px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ececec;
  font-size: 18px;
}

.RP-Controls {
  font-family: Helvetica,Arial,"Source Han Sans CN","Hiragino Sans GB","Microsoft Yahei","Microsoft Jhenghei",STHeiti,verdana,sans-serif;
  color: #444;
}

.RP-Controls .RP-Hidden {
  opacity: 0;
  visibility: hidden;
}

.RP-Controls .RP-Visible {
  opacity: 1;
  visibility: visible;
}

.RP-Controls .RP-Control {
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.RP-Controls .RP-Button {
  text-align: center;
  color: #a2a2a2;
  line-height: 20px;
}

.RP-Controls .RP-Button.on {
  color: #585858;
}

.RP-Controls .RP-Button:hover {
  color: #f45a8d;
}

.RP-Controls .RP-Seekbar {
  border-left: 1px solid #ececec;
  width: calc(100% - 295px);
}

.RP-Controls .bar {
  position: absolute;
  width: calc(100% - 20px);
  left: 10px;
  top: 7px;
  height: 6px;
  background: #949494;
  border-radius: 6px;
}

.RP-Controls .bar:after{
  content: "";
  width: 100%;
  height: 18px;
  background-color: rgba(255,255,255,0);
  position: absolute;
  top: -6px;
  left: 0;
}

.RP-Controls .bar .load {
  background: #00a0d8;
}

.RP-Controls .bar .dark {
  background: #007bb1;
}

.RP-Controls .bar .load,
.RP-Controls .bar .dark {
  position: absolute;
  height: 100%;
  border-radius: 6px;
}

.RP-Controls .bar.handle .dark:before {
  position: absolute;
  top: -3px;
  right: -6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0,0,0,.5);
  content: "";
  cursor: pointer;
}

.RP-Controls .bar.handle .dark:after {
  position: absolute;
  right: -3px;
  width: 6px;
  height: 6px;
  background-color: #009fd6;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
  content: "";
  cursor: pointer;
}

.RP-Controls .RP-TimeLabel {
  width: 86px;
  font-size: 11px;
  text-align: center;
  line-height: 22px;
  color: #444;
}

.RP-Controls .RP-CommentDisplayOption {
  width: 120px;
  height: 42px;
  padding: 10px;
  position: absolute;
  bottom: 25px;
  background: rgba(255, 255, 255, .9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.RP-Controls .RP-CommentDisplayOption .label {
  margin: 0;
  text-align: left;
  color: #666;
  font-weight: 700;
  font-size: 12px;
}

.RP-Controls .RP-CommentDisplayOption .opacity-bar {
  position: relative;
  margin-bottom: 8px;
  height: 10px;
}

.RP-Controls .RP-CommentDisplayOption .opacity-bar .bar {
  width: 100%;
  left: 0;
}

.RP-Controls .RP-CommentStyleOption {
  width: 220px;
  height: 160px;
  background: rgba(255, 255, 255, .9);
  position: absolute;
  padding: 10px;
  bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  z-index: 1;
  cursor: auto;
}

.RP-Controls .RP-CommentStyleOption .style-title {
  margin: 0;
  text-align: left;
  color: #666;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.RP-Controls .RP-CommentStyleOption .style-select {
  text-align: center;
  color: #a2a2a2;
  height: 52px;
}

.RP-Controls .RP-CommentStyleOption .style-option {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 64px;
  width: 60px;
  font-size: 10px;
  border-radius: 5px;
  border: 2px solid;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: middle;
}

.RP-Controls .RP-CommentStyleOption .style-option.on {
  color: #fff;
  background: #666;
  border-color: #666;
}

.RP-Controls .RP-CommentStyleOption .style-option:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 30px
}

.RP-Controls .RP-CommentStyleOption .style-option[value="18"]:after {
  content: "A";
  font-size: 18px;
}

.RP-Controls .RP-CommentStyleOption .style-option[value="25"]:after {
  content: "A";
  font-size: 25px;
}

.RP-Controls .RP-CommentStyleOption .style-option[value="5"]:after {
  content: "\258a\258a\258a";
  font-size: 6px;
  line-height: 8px;
  top: 4px;
}
.RP-Controls .RP-CommentStyleOption .style-option[value="1"]:before {
  position: absolute;
  white-space: pre;
  content: "\25c0\258a\258a\258a";
  font-size: 6px;
  line-height: 8px;
  top: 6px;
}

.RP-Controls .RP-CommentStyleOption .style-option[value="1"]:after {
  position: absolute;
  white-space: pre;
  content: "       \25c0\258a\258a\258a";
  font-size: 6px;
  line-height: 8px;
  top: 12px;
}

.RP-Controls .RP-CommentStyleOption .style-option[value="4"]:after {
  content: "\258a\258a\258a";
  font-size: 6px;
  line-height: 8px;
  top: 16px;
}

.RP-Controls .RP-CommentColorOption {
  width: 347px;
  height: 170px;
  background: rgba(255, 255, 255, .9);
  position: absolute;
  bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  z-index: 1;
  cursor: auto;
}

.RP-Controls .RP-ColorPicker .color-pick {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 156px;
  height: 156px;
  outline: 1px solid #aaa;
  overflow: hidden;
  cursor: crosshair;
}

.RP-Controls .RP-ColorPicker .overlay1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%);
}

.RP-Controls .RP-ColorPicker .overlay2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%);
}

.RP-Controls .RP-ColorPicker .color-selector-outer {
  position: absolute;
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
  border: 1px solid black;
  border-radius: 50%;
}

.RP-Controls .RP-ColorPicker .color-selector-inner {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
}

.RP-Controls .RP-ColorPicker .hue-pick {
  position: absolute;
  top: 6px;
  left: 175px;
  width: 19px;
  height: 156px;
  border: 1px solid #aaa;
  cursor: ns-resize;
  background: linear-gradient(to bottom,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000);
}

.RP-Controls .RP-ColorPicker .hue-pick-arrows {
  position: absolute;
  left: -8px;
  width: 35px;
  height: 7px;
  margin: -7px 0 0 0;
}

.RP-Controls .RP-ColorPicker .hue-pick-larrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #858585;
}

.RP-Controls .RP-ColorPicker .hue-pick-rarrow {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 7px solid #858585;
}

.RP-Controls .RP-ColorPicker .current-color {
  position: absolute;
  left: 207px;
  top: 6px;
  width: 130px;
  height: 25px;
  background: #f00;
  border: 1px solid #8f8f8f;
}

.RP-Controls .RP-ColorPicker .hex-field {
  top: 135px;
  width: 68px;
  left: 207px;
  position: absolute;
  height: 20px;
  overflow: hidden;
  background: #f3f3f3;
  color: #b8b8b8;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}

.RP-Controls .RP-ColorPicker .field-letter {
  position: absolute;
  width: 17px;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  background: #efefef;
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
  color: #777;
}

.RP-Controls .RP-ColorPicker .hex-field input,
.RP-Controls .RP-ColorPicker .color-field input {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  background: transparent;
  border: none;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  color: #555;
  text-align: right;
  outline: none;
}

.RP-Controls .RP-ColorPicker .color-field input {
  right: 11px;
}

.RP-Controls .RP-ColorPicker .color-field {
  position: absolute;
  height: 22px;
  width: 60px;
  overflow: hidden;
  background: #f3f3f3;
  color: #b8b8b8;
  font-size: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}

.RP-Controls .RP-ColorPicker .color-field-arrows {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 21px;
  cursor: ns-resize;
}

.RP-Controls .RP-ColorPicker .color-field-arrows .color-field-uparr {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #959595;
}

.RP-Controls .RP-ColorPicker .color-field-arrows .color-field-dnarr {
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #959595;
}

.RP-Controls .RP-Comment-Input {
  position: absolute;
  color: #666;
  width: calc(100% - 148px);
  box-shadow: inset 0 5px 10px rgba(0,0,0,.07);
  height: 16px;
  border: 0;
  outline: 0;
  padding: 2px 4px;
  transition: box-shadow .2s ease-in-out;
}

.RP-Controls .RP-Comment-Send {
  position: absolute;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 62px;
  height: 21px;
  line-height: 22px;
  border: 1px solid #0085b3;
  border-top: none;
  cursor: pointer;
  background-color: #00a1d8;
  transition: all .2s ease-in-out;
}